# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python CheckStyle plugin reports its findings in the project root
.checkstyle

# The Visual Studio Code settings
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/local.properties
**/android/flutter_sdk.local.properties
**/android/app/src/main/res/drawable-mdpi/ic_launcher.png
**/android/app/src/main/res/drawable-hdpi/ic_launcher.png
**/android/app/src/main/res/drawable-xhdpi/ic_launcher.png
**/android/app/src/main/res/drawable-xxhdpi/ic_launcher.png
**/android/app/src/main/res/drawable-xxxhdpi/ic_launcher.png

# iOS related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*~.nib
**/ios/**/Icons/
**/ios/**/Payload/
**/ios/**/DerivedData/
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/ios/Runner/config/
**/ios/ServiceDefinitions.json
**/ios/project.xcworkspace/
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_get.php
**/ios/Flutter/flutter_get.sh
**/ios/Flutter/flutter_get.sh.command
**/ios/Flutter/flutter_get_xcode_config.sh
**/ios/Flutter/flutter_get_xcode_config.sh.command
**/ios/Flutter/flutter_launch_url.php
**/ios/Flutter/flutter_launch_url.sh
**/ios/Flutter/flutter_launch_url.sh.command
**/ios/Flutter/flutter_version.sh
**/ios/Flutter/flutter_version.sh.command

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugins.props
**/windows/flutter/generated_plugins.targets

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/generated_plugins.cmake

# Linux related
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
